<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
    
<hibernate-configuration>
    
    <session-factory>
     	<property name="hbm2ddl.auto">update</property>
 		<mapping class="com.ems.domain.LoginInfo"/>
		<mapping class="com.ems.domain.Registration"/>
		<mapping class="com.ems.domain.UserRole"/>
		<mapping class="com.ems.domain.Persistent_Logins"/>
		<mapping class="com.ems.domain.Attendance"/>
		<mapping class="com.ems.domain.Department"/>
		<mapping class="com.ems.domain.Designation"/>
		<mapping class="com.ems.domain.UserDetail"/>
		<mapping class="com.ems.domain.LeaveDetail"/>
		<mapping class="com.ems.domain.Documents"/>
		<mapping class="com.ems.domain.BankDetail"/>
		<mapping class="com.ems.domain.Branch"/>
		<mapping class="com.ems.domain.Country"/>
		<mapping class="com.ems.domain.Payroll"/>
		<mapping class="com.ems.domain.UserSetting"/>
		<mapping class="com.ems.domain.Notification"/>

    </session-factory>
    
</hibernate-configuration>